nav {
    background-color:darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: whitesmoke;
}
 body {
    margin: 0;
 }

.container {
    margin-left: 3%;
    margin-right: 3%;
}

.con2 {
    display: flex;
    margin-left: 60px;
}

.im1 {
    display: flex;
}

.im1 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.text1 {
    margin-top: 0px;
}

.im2 {
    display: flex;
}

.im2 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.im3 {
    display: flex;
}

.im3 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

textarea {
    resize: none;
    height: 100px;
}

.im4 {
    display: flex;
}

.im4 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.text4 {
    display: grid;
}

