nav {
    background-color:rgb(85,218,184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    color: rgb(16, 133, 88);
}
body {
    margin: 0;
    background-color: rgb(211,255,206);
    font-family:'Lexend';
 }

.container {
    margin-left: 3%;
    margin-right: 3%;
}

.con2 {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.im1 {
    display: flex;
}

.im1 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.text1 {
    margin-top: 0px;
}

.im2 {
    display: flex;
}

.im2 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.im3 {
    display: flex;
}

.im3 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

textarea {
    resize: none;
    height: 100px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.im4 {
    display: flex;
}

.im4 img {
    margin-right: 10px;
    margin-top: 25px;
    display: block;
}

.text4 {
    display: grid;
}
